<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo4.Mapper.UserAndPermissionMapper">


	<!-- 用accessToken查詢当前用戶详细信息 -->
	<select id="getCurrentUserInfoByWorkId" parameterType="string" resultType="com.example.demo4.dto.UserInfo">
		select * FROM USER_INFO u where u.USER_NO = #{userId}
	</select>


</mapper>
